* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
img {
    width: 100%;
    height: auto;
}

ol,
ul {
    list-style: none;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width:768px) { }