html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%
}

body {
    color: #000;
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.5rem
}

p {
    margin-top: 0;
    margin-bottom: 1.1rem
}

abbr[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

b,
strong {
    font-weight: 700
}

em,
i {
    font-style: italic
}

mark {
    background: #f0f0f0;
    color: #000
}

small,
.small {
    font-size: 13px
}

hr {
    border: 0;
    border-top: 1px solid #000;
    margin-bottom: 22px;
    margin-top: 22px
}

sub,
sup {
    font-size: 73.33333333%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

dfn {
    font-style: italic
}

h1 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 2.2rem
}

h2 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.8rem;
    margin-top: 2.75rem;
    margin-bottom: 2.2rem
}

h3 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    margin-top: 1.65rem;
    margin-bottom: 1.1rem
}

h4 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem
}

h5 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.3rem;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem
}

h6 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.1rem;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
    color: #000;
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1
}

a,
.alink {
    color: #000;
    text-decoration: none
}

a:visited,
.alink:visited {
    color: #000;
    text-decoration: none
}

a:hover,
.alink:hover {
    color: #000;
    text-decoration: underline
}

a:active,
.alink:active {
    color: #000;
    text-decoration: underline
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 2.75rem
}

ul>li,
ol>li {
    margin-top: 0;
    margin-bottom: 1.1rem
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0
}

dl {
    margin-bottom: 22px;
    margin-top: 0
}

dt {
    font-weight: 700;
    margin-bottom: 5.5px;
    margin-top: 0
}

dd {
    margin-bottom: 11px;
    margin-top: 0;
    margin-left: 0
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace
}

code {
    background: #f0f0f0;
    color: #000;
    padding: 2px 4px;
    font-size: 1.3rem;
    white-space: nowrap
}




.page-header .header-menu-sticky li:nth-child(5) a {
    color: red !important;
}

@media only screen and (max-width: 767px) {
    .product-page-top-media {
        margin: 0 -20px 20px !important;
    }

    .product-info-main .page-title-wrapper .page-title {
        margin-bottom: 20px !important;
    }
}

@media only screen and (min-width:768px) {
    .product-info-main .price-box {
        margin: 20px 0 !important;
    }
}

.page-products .toolbar-products {
    top: 0 !important;
}

.post-content .post-description img {
    margin-bottom: 0 !important;
}

.ampromo-free-gift .ampromo-carousel-product .ampromo-item-photo {
    aspect-ratio: 2/3 !important;
}

.checkout-index-index .checkout-shipping-address .opc-block-summary.amcheckout-summary-container {
    display: none;
}

.store-items .store-image .wrapper-image .image {
    aspect-ratio: 3/2 !important;
    padding-top: 0px !important;
}

.page-cart-note {
    display: none
}

.checkout-index-index .field[name="shippingAddress.city"] {
    display: none;
}

.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-option-content {
    padding: 0 !important;
}

.cms-index-index .page-header:not(.sticky) .header.content {
    background: none !important;
}

@media (min-width: 1024px) {
    .page-header .header-menu-sticky li {
        margin: 0 40px 0 0 !important;
    }
}

.page-wrapper .navigation.nav-magemenu-menu .nav-exploded.explodedmenu>li>a {
    padding: 0 18px !important;
}

.catalog-category-view img.am-banners-lite-label,
.catalogsearch-result-index img.am-banners-lite-label {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    max-width: 70px;
}

@media screen and (max-width : 991.98px) {

    .catalog-category-view img.am-banners-lite-label,
    .catalogsearch-result-index img.am-banners-lite-label {
        position: absolute;
        top: 5px;
        left: 5px;
        max-width: 25%;
        width: auto;
    }

}

.rt_home_slider .swiper-wrapper {
    height: 100vh;
}

.slick-vertical .slick-slide {
    height: 100vh;
}

@media only screen and (min-width: 376px) and (max-width: 991px) {
    .catalog-product-view .product-detail-infomation-sticky-parent .product-gallery-popup {
        height: calc(100% - 50px);
    }
}

.catalog-product-view .product-detail-infomation-sticky-parent .product-gallery-popup {
    background-color: rgba(177, 177, 177, 0.48);
}

@media only screen and (max-width: 991px) {
    .catalog-product-view .product-detail-infomation-sticky-parent .vertical-gallery .swiper-container.swatch-item .product-item-image>a img {
        object-fit: contain;
    }
}

.product.item-image.imgzoom {
    position: relative;
}

.product.media .gallery-horizontal .item-image .popup-youtube,
.product.media .gallery-vertical .item-image .popup-youtube {
    display: block !important;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #00000000;
    z-index: 2;
    left: 0;
    right: 0;
    font-size: 0;
    border: 0;
    color: transparent;
}

@media screen and (max-width: 768px) {
    .checkout-index-index .checkout-shipping-address .opc-block-summary.amcheckout-summary-container {
        display: block !important;
    }

    .checkout-index-index .checkout-column .opc-block-summary.amcheckout-summary-container {
        display: none;
    }
}